*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* NAV */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 14vh;
    background-color: #1d1c1c;
    font-family: 'Poppins', sans-serif;
}

.logo{
    width: 100px;
    height: auto;
    margin: 20px;
}

ul{
    display: flex;
    justify-content: space-around;
    gap: 30px;
    list-style: none;
    font-size: x-large;
    align-items: center;
}

ul li a{
    text-decoration: none;
    color: #fff;
}

.informacion{
    width: 40px;
    height: 40px;
    margin: 20px;
}

.toggle-menu{
    display: none;
}

#toggle-menu{
    display: none;}

/* BODY */

.container{
    display: flex;
    padding: 50px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.container-info{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.contact-button{
    width: 175px;
    height: 30px;
    border-radius: 10px;
    background-color: #1d1c1c;
    color: #fff;
    font-size: medium;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.works-button{
    color: #1d1c1c;
    background-color: rgb(199, 199, 71);
}


.container-img{
    width: 30vw;
    height: auto;
}

/* SECTION */

.section-title{
    display: flex;
    justify-content: center;
}

.section-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
    padding: 50px;
    background-color: #1d1c1c;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

/* Cards section*/

.benefits{
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}

.benefits-text{
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.benefits-card{
    display: flex;
    flex-direction: row;
    gap: 35px;
    justify-content: center;
}

.card{
    width: 25%;
    height: 300px;
    background-color: rgb(197, 197, 197);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 45px;
    border-radius: 15px;
    text-align: center;
    padding: 20px;
    background-color: #1d1c1c;
    color: #fff;
}

/* Contact */

.contact{
    display: flex;
    flex-direction: row;
    padding: 30px;
    background-color: #1d1c1c;
    color: #fff;
}

.contact-info{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.contact-names{
    display: flex;
    flex-direction: row;
    gap: 35px;

}


.person ol{
    list-style: none;
}

.person ol li{
    margin: 20px;
}

.contact-img{
    width: 40%;
}

.map-img{
    width: 100%;
    height: auto;
    border-radius: 15px;
    border: #1d1c1c 2px solid;
}

.contact-media-buttons{
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin-top: 25px;
}

/* Footer */

.footer {
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    color: black;
    text-align: center;
    padding: 10px;
}

.footer-logo {
    height: 50px;
}

.footer-copyright {
    font-size: 12px;
}


/* Media Queries */

@media (max-width: 992px){

    .container-info{
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }

    .container-img{
        display: none;
    }

    .benefits-card{
        flex-direction: column;
        align-items: center;
    }

    .card{
        width: 60%;
    }

    .toggle-menu{
        display: none;
    }

    #toggle-menu{
        display: none;}

}

@media (max-width: 768px){
    

    .nav{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    ul{
        display: none;
        justify-content: space-around;
        flex-direction: column;
        position: absolute;
        gap: 30px;
        width: 100%;
        height: calc(100vh - 14vh);
        list-style: none;
        font-size: x-large;
        align-items: center;
        background-color: rgb(70, 70, 70);
        top: 14vh;
        left: 0;
        
        
    }
    
    ul li a{
        text-decoration: none;
        color: #fff;
    }
    

    .contact{
        flex-direction: column;
        align-items: center;
    }

    .contact-info{
        width: 100%;
    }

    .map-img{
        display: none;
    }

    .toggle-menu{
        display: flex;
        position: relative;
        right: 30px;
        
    }

    #toggle-menu:checked ~ ul{
        display: flex;
    } 
    


}

@media (max-width: 576px){
    .nav{
        flex-direction: column;
        align-items: center;
    }
}
